<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
namespace:名称空间，一般是需要保持全局唯一，最好是和dao层的java接口一致，
可以映射sql语句到对应的方法名称和参数返回 类型

mybatis是使用接口动态代理
-->
<mapper namespace="net.peter.online_class.dao.VideoMapper">
    <select id="selectById" parameterType="java.lang.Integer" resultType="net.peter.online_class.domain.Video">
        <!--
            statement sql,
            id:当前mapper下需要唯一
            resultType：sql查询结果集
        -->
        select * from video where id = #{video_id,jdbcType=INTEGER}
    </select>

    <select id="selectByPointAndTitleLike" resultType="net.peter.online_class.domain.Video">

        select * from video where point = #{point,jdbcType=DOUBLE} and title like concat('%',#{title,jdbcType=VARCHAR},'%')

    </select>

    <insert id="add" parameterType="net.peter.online_class.domain.Video"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO `video` ( `title`, `summary`, `cover_img`, `price`, `create_time`, `c_id`, `point`)
        VALUES
        (#{title,jdbcType=VARCHAR},#{summary,jdbcType=VARCHAR},#{cover_img,jdbcType=VARCHAR},#{price,jdbcType=INTEGER},
         #{create_time,jdbcType=TIMESTAMP},#{c_id,jdbcType=INTEGER},#{point,jdbcType=DOUBLE});

    </insert>


    <!--批量插入-->
    <insert id="addBatch" parameterType="net.peter.online_class.domain.Video" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >

    INSERT INTO `video` ( `title`, `summary`, `cover_img`, `price`, `create_time`, `point`)
    VALUES

    <foreach collection="list" item="video" separator=",">

        (#{video.title,jdbcType=VARCHAR},#{video.summary,jdbcType=VARCHAR},#{video.cover_img,jdbcType=VARCHAR},
        #{video.price,jdbcType=INTEGER},
        #{video.create_time,jdbcType=TIMESTAMP},#{video.point,jdbcType=DOUBLE})

    </foreach>

    </insert>

    <!--插入操作-->
    <update id="updateVideo" parameterType="net.peter.online_class.domain.Video">

        UPDATE video

        set
            title = #{title,jdbcType=VARCHAR},

            summary = #{summary,jdbcType=VARCHAR},

            cover_img = #{cover_img,jdbcType=VARCHAR},

            price = #{price,jdbcType=INTEGER},

            c_id = #{c_id,jdbcType=INTEGER},

            point = #{point,jdbcType=INTEGER},

            create_time = now()

        WHERE

            id = #{id}

    </update>

</mapper>